

.one{
    background-color:#1F2937
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.hero-secondary{
    font-size:18px;
    color:#E5E7EB;
}